＃Windowsイメージファイルのキャッシュ
Thumbs.db
ehthumbs.db

＃フォルダ設定ファイル
Desktop.ini

＃ファイル共有に使用されたごみ箱
$ RECYCLE.BIN /

＃Windowsインストーラファイル
*。タクシー
* .msi
* .msm
* .msp

＃Windowsショートカット
* .lnk

＃===================
＃オペレーティングシステムファイル
＃===================

＃OSX
＃===================

.DS_Store
.AppleDouble
.LSOverride

＃サムネイル
._ *

＃外部ディスクに表示されるファイル
。スポットライト-V100
。トレッシュ

＃リモートAFP共有に潜在的に作成されるディレクトリ
.AppleDB
.AppleDesktop
ネットワークゴミ箱フォルダ
一時的なアイテム
.apdisk
